#hi{
      background:rgb(0,255,0);
    }
h1{
      background:rgb(41,182,246);
      font: Raleway;
}
#main{
      width:1000px;
      margin:0 auto;
}
body{
      background:rgb(10,10,10);
      color:white;
}
.picture{
      margin:auto;
      width:500px;}
#nav li{
  list-style-type:none;
    display: inline;
    margin: 80px;
}
