#hi{
      background:rgb(0,255,0);
    }
h1{
      background: #C75696;
      font-family: Amatic SC;
      color: #F3F6F6;
}
#main{
      width:1000px;
      margin:0 auto;
}
body{
      background: #512E67;
      color:white;
}
.picture{
      margin:auto;
      width:500px;}
#nav li{
  list-style-type:none;
    display: inline;
    margin: 80px;
}
