<html>
<head>
  
  <link href="style.css" rel="stylesheet">
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
  <div id="main">
    <h1>About Us</h1>

    <div id="nav">
      <ul>
        <li>
          Games
          <ul>
            <li>
              <a href="http://www.brain-entertain.com/inner-animal-test/en/" target="_blank">Spirit animal quiz</a>
            </li>
           <li>
              <a href="https://www.buzzfeed.com/geico/what-animal-were-you-born-to-be?utm_term=.jf6z63lPva#.gyrJyP5do8" target="_blank">Another quiz</a>
            </li>
          </ul>
        </li>
        <li>
          How To Help
          <ul>
            <li>
              <a href="https://www.mspca.org/adoption-centers/nevins-farm-adoption-center/" target="_blank">MSPCA</a>
            </li>
          </ul>
        </li>
        <li>
          Articles
          <ul>
            <li>
              <a href="https://www.worldwildlife.org/species/directory?direction=desc&sort=extinction_status" target="_blank"> List of endangered species</a>
            </li>
          </ul>
        </li>
        <li>
          Find An Animal
          <ul>
            <li>
              <a href="https://girls-who-code2016.gomix.me/map"> Animal Map </a>
            </li>
          </ul>
        </li>
        <li><a class="home" href="https://girls-who-code2016.gomix.me/">Home</a></li>
        </ul>
  </div>
</div>
  <div class="people">
    
    <div class="despina">
      <h2 class="name">Despina T.</h2>
      <p>I like to be CREATIVE and code. Listening to music and being lazy are 2 things I probably do best. :3 <br>
        When I'm bored, telling horrible puns and random jokes make my life interesting<br>
        (and is the reason why I am very annoying).</p>
    </div>
  
  <div class="rishika">
    <h2 class="name">Rishika A.</h2>
    <p> I love to paint and draw, basically be creative. <br>
      That is another reason I like coding because you can do anything. <br>
      During the day I like to read a book while reclining on my couch. <br>
      I also play the violin and soccer. My favorite subject is math.</p>
    </div>
    
  <div class="sarah">
    <h2 class="name">Sarah O.</h2>
    <p> I like to listen to music and code above not much else.<br>
    I also ski, when the weather is right. <br>
    Out of all of the animals that I want to meet, I REALLY want to meet a sloth. <br>
    I also like to read, but I do it less often than I should. I think Hamilton is amazing, <br>
    and will make as many puns about things as I hamilCAN<br>
    That's pretty much all you need to know about me.</p>
    </div>
    
  <div class="katie">
    <h2 class="name">Katie B.</h2>
    <p>I like to swim, read, and code (duh). <br>
    I also like to make puns, listen to Hamilton, and make Hamilton references that no one gets. <br>
    I have a very busy life, but otherwise I usually like to curl up on the couch on Sundays and waste my weekends being a lazy person. <br>
    It's my finest characteristic!</p>
    </div>
    
     <div class="rebecca">
    <h2 class="name">Rebecca D.</h2>
    <p>I like coding, painting, <br>
      playing basketball,playing field hockey, cooking, <br>
      and spending time with friends.</p>
    </div>
    
  <div class="jolene">
    <h2 class="name">Jolene P.</h2>
    <p>I love to code and run. I run everyday after school, as I like to stay healthy and fit.<br>
      I have a HUGE sweet tooth and I enjoy math.<br>
      In my free time, I like to read and listen to music.</p>
    </div>
    
     
    
    <div class="jocelyn">
    <h2 class="name">Jocelyn P.</h2>
    <p>I love to read books, and my favorite book is the Hobbit, by J.R.R.Tolkien. <br>
      I enjoy going outside and admiring the nature. I also enjoy watching Carl Azuz on CNN 10, especially his punny puns. <br>
      I love to listen to music, especially by The Piano Guys and Lindsey Stirling. <br>
      My favorite animal is the jerboa, because it is adorable and it is almost endangered. </p>
    </div>
    
 
    
    <div class="allison">
    <h2 class="name">Allison T.</h2>
    <p>I like to code, play field hockey, and read. <br>
      I read comic books and watch shows based off comic books. <br>
      I can be very clumsy sometimes. <br>
      I like robots and I enjoy soldering circuit boards. <br>
      I enjoy Marvel movies, Star Wars, Star Trek, and DC comics movies.</p>
    </div>
    
    
    
    
    
   <div class="janie">
    <h2 class="name">Janie W</h2>
    <p>I like cats and other cute animals. I like to do whatever I feel like. </p>
    </div>
    
  <div class="zephyr">
    <h2 class="name">Zephyr F.</h2>
      <p>
        i like eating
    </p>
  </div>
    
       <div class="arpi">
    <h2 class="name">Arpi S.</h2>
    <p>I am a singer, dancer, skier, coder, and squash player. <br>
      This is my first year coding.</p>
    </div>

    </div>
   
  
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/client.js"></script>
</body>
</html>
