<html>
  <head>
  <title>Addax (>人<)</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <center><h1>Addax</h1></center>
  
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <center><p>
            The Addax is a desert living antelope and is well adapted to its harsh habitat; the hooves are splayed to enable them to travel on sand. 
            They are critically endangered; there may be only three remaining in the wild. Extinction may not be imminent, however; about 2,000 are kept in zoos and on ranches around the world. severely endangered 
            species, and is listed as critically endangered with just 500 in the wild, and 800 in captivity, some of which are bred for trophy hunts. Addaxes stand at about three
            feet tall and weigh about 133-220 pounds. They have a white fur coat and two twisted horns on the top of their head. The Addax mainly is found in the Saharah desert in 
            small groups if 2-4. Their diet mainly consists of desert grasses or acacia. Addaxes also nees very little water to survive.The main predator of the Addax are humans 
            hunting them. Addaxes are rarely found in their nativ habitat. They are mainly found in zoo, including the biggest one the Hanover Zoo in Germany. Addaxes can also be 
            called the screw horn antelope. The Addax mainly prefer the stoney, dry, and desert terrain. Addaxes are nocturnal and can adapt to their habitat very quickly. They can 
            locate eachother very quickly in vast distances. They typically stay in one place, but sometimes they roam for food.
            </p></center>
          <center><a href="http://www.livescience.com/55277-addax.html" target="_blank">Learn more</a></center>
          <br>
          <center><img src="http://elelur.com/data_images/mammals/addax/addax-05.jpg" width="1000px"></center>
           
       </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  
  </body>
  
  
  
</html>

