<html>
  <head>
  <title>African Elephants 〆(・∀・＠)</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>African Elephant</h1>
  
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <center><p>
           African Elephants are the largest animals on Earth that roam on land. They look very much like theie cousins the Asian Elephant but are usually
            identified as separate by their larger ears that are somewhat in the shape of Africa. Sadly they are in sharp decline due to poaching for the 
            international ivory trade. Weighing at 6000kgs (6.6 tons) and at 10ft tall the african elephant is the largest land mammal. These elephants 
            typically travel in 8-100 individuals led by the largest female. They mainly eat grasses, leaves, bamboo, bark, roots. African savannah 
            elephants are found in savannah zones in 37 countries south of the Sahara Desert. They are also found in wet rainforests in west Africa. 
            </p></center>
          <br>
          <center><a href="https://www.elephants.com/about-elephants?gclid=CODLl8TPptMCFUVYDQodb4kH5A" target="_blank">Learn more</a></center>
          <br>
          <center><img src="https://www.naturalworldsafaris.com/~/media/images/wildlife/african-elephant/nws-st-african-elephant.ashx" alt= "African Elephant" width="1000px"></center>
          
       </div>
    </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>