<html>
  <head>
  <title>Girls Who Code ^-^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>African Wild dog</h1>
   
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <p>
           African Wild dogs, also known as the painted dog, is native to Sub-Saharan Africa. The majority of them live in Africa, and are carnivores. 
            They were declared endangered by the IUCN, as many have disappeared from Africa. Illegal hunting and poaching have done a number on these wild dogs because of deployment in Africa.
          </p>
          <br>
          <center><img src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fafrican-wild-dog-4829-xl.jpg?1492873298705" alt= "African Wild Dog"></center>
      <center><a href="http://wildlifeact.com/about-wildlife-act/wildlife-species/african-wild-dog-lycaon-pictus/?gclid=CPv69rHiptMCFcVWDQodJYsMMQ" target="_blank">Learn More</a></center>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>