<html>
  <head>
  <title>Girls Who Code ^-^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>African Elephant</h1>
    <a href="http://bakedcorn.gomix.me">(it's lit fam)</a>
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <p>
           African Elephants are the largest animals on Earth that roam on land. They look very much like there cousins the Asian Elephant but are usually identified as separate by there larger ears that are somewhat in the shape of Africa. 
            Sadly they are in sharp decline due to poaching for the international ivory trade. Weighing at 6000kgs (6.6 tons) and at 10ft tall the african elephant is the largest land mammal. These elephants tipically travel in 8-100 individuals lead by the largest female. They mainly eat grasses, leaves, bamboo, bark, roots. African savannah elephants are found in savannah zones in 37 countries south of the Sahara Desert. They are also found in wet rainforests in west Africa. 
          </p>
          <br>
          <img src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Felephants.jpg" alt= "African Elephant" width="400px" >
          <a href="https://www.elephants.com/about-elephants?gclid=CODLl8TPptMCFUVYDQodb4kH5A" target="_blank">Learn more</a>
       </div>
    </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>