<html>
  <head>
  <title>Amsterdam Albatross ^̮^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Amsterdam Albatross</h1>
  
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      <ul>
        <li>Games
          <ul>
            <li><a href="/penguingame">Penguin Game</a></li>
            <li>
              <a href="http://www.brain-entertain.com/inner-animal-test/en/" target="_blank">Spirit Animal Quiz</a>
            </li>
           <li>
              <a href="https://www.buzzfeed.com/geico/what-animal-were-you-born-to-be?utm_term=.jf6z63lPva#.gyrJyP5do8" target="_blank">What is Your Inner Animal?</a>
            </li>
          </ul>
        </li>
        <li>
          How To Help
          <ul>
            <li>
                <a href="girls-who-code2016.glitch.me/how-to-help">Help everybody</a>
            </li>
          </ul>
        </li>
        <li>
          Articles
          <ul>
            <li>
              <a href="https://www.worldwildlife.org/species/directory?direction=desc&sort=extinction_status" target="_blank"> List of Endangered Species</a>
            </li>
          </ul>
        </li>
        <li><a class="bubbles_map" href="https://girls-who-code2016.glitch.me/map">Animal Map</a></li>
         <li>
          <a class="home" href="https://girls-who-code2016.gomix.me/"> Home </a>
        </li>
        </ul>
      </div>
        <div class="article">
          <center><p>
            The Amsterdam Albatross is a related species of the albatross. The Amsterdam Albatross is found only on Amsterdam Island, French Southern
            Territories, in the southern Indian Ocean. The Amsterdam Albatross breeds once a year and in the same spot every year. The adults have a 
            medium to dark brown back and have a white underside and face mask. They weigh about 10 to 17 pounds and have a wingspan of about 340 
            centimeters. They are on the critically endangered list. Their scientific name is diomedea amsterdamensis.
            </p></center>
          <center><a href="http://www.ourendangeredworld.com/species/birds-bats/amsterdam-albatross/" target="_blank">Learn more</a> </center>
          <br>
          <center><img src= "https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2FAmsterdam-Albatross.jpg?1492875411259" alt= "Amsterdam Albatross"></center>
          
       </div>
    </div>
  </body>
</html>