<html>
  <head>
  <title>Amur Leopards ಠ‿↼</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Amur Leopards</h1>
   
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <center><p>
           Amur Leopards are rare subspecies that have learned to live in temperate forests of east Asia. With a lack of prey and constant illegal hunting, 
          it has taken a toll on the number of these leopards in the wild. They are critically endangered, with only over 60 leopards left.
            </p></center>
          <center><a href="https://www.worldwildlife.org/species/amur-leopard" target="_blank">Learn more</a></center>
          <br>
          <center><img src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Famur_leopard2.jpg?1492876523478" alt= "Amur Leopard"></center>
         
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>