<html>
  <head>
  <title>Animal Quiz</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Quiz</h1>
    
    <div id="nav">
      
      </div>
        <div class="article">
          <center><p>
            Press "Run" to play the game. 
            </p></center>
          <!-- this doesn't work for some reason so if you find this lol i gave up-->
          <center><iframe src="https://www.codesters.com/embed/preview/f1244b456dee4487b413c21e9f3309a9/" height="680" width="500" seamless="seamless" frameborder="0"></iframe></center>
    
       </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>