<html>
  <head>
  <title>Girls Who Code ^-^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Asiatic Lion</h1>
    
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
      </div>
        <div class="article">
          <p>
          The Asiatic Lion, Indian Lion, or Persian Lion is a lion subspecies that are endangered. It differs from the African lion by less inflated auditory bullae, a larger tail tuft and a less developed mane. These animals are endangered because they live as a single subpopulation. Thus makes them vulnerable to extinction because of unpredictable events. For example epidemics and forest fires. There are indications of poaching incidents in recent years. There are reports that organized gangs have switched attention from tigers to these lions. There have also been a number of drowning incidents after lions fell into wells. To counteract the problem, suggestions for walls around the wells, as well as the use of "drilled tube wells” have been made.
          </p>
          <center><img src="http://www.indiasamvad.co.in/admin/storyimage/0c2a41a9.jpg"></center>
          <center><a href="http://omotg.com/blog/2013/05/14/some-interesting-facts-about-asiatic-lion/" target="_blank">Learn more</a> </center>
        
       </div>
    </div>
  </body>
</html>