<html>
  <head>
  <title>Bengal Tiger ☜(˚▽˚)☞</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Bengal Tiger</h1>

    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <center><p>
          <center><h2>
            Bengal Tiger
            </h2></center> 
          The Bengal Tiger is the national animal of both, India and Bangladesh. The tiger's coat is yellow to light orange, with stripes black to dark brown.
          The amount of the tigers have decreased dramatically in the past few years due to poaching and human-tiger conflict, the Sundarbans mangrove forest
          in Bangladesh, is threatened by the construction of a coal-fired power plant, which could possibly be funded by the United States Export-Import Bank
          (Ex-Im). The Sundarbans is home to many unique species including the critically endangered Indian pangolin, Irrawaddy dolphin, and, its most iconic
          resident -- the Bengal tiger. There are thought to be about 2,000 tigers left.
          <br>
          <br>
          <center><a href="https://www.worldwildlife.org/species/bengal-tiger" target="_blank">Learn more</a></center>
          <center><img src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fbengal%20tiger%20Cropped.jpg" alt= "Bengal and White Tiger" width="400px" ></center>
        
          <center><h2>
  
  </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>