<html>
  <head>
  <title>Girls Who Code ^-^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Bengal Tiger and White Tiger</h1>
    <a href="http://bakedcorn.gomix.me">(it's lit fam)</a>
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      <ul>
        <li>Games
          <ul>
            <li><a href="/penguingame">Penguin Game</a></li>
            <li>
              <a href="http://www.brain-entertain.com/inner-animal-test/en/" target="_blank">Spirit Animal Quiz</a>
            </li>
           <li>
              <a href="https://www.buzzfeed.com/geico/what-animal-were-you-born-to-be?utm_term=.jf6z63lPva#.gyrJyP5do8" target="_blank">What is Your Inner Animal?</a>
            </li>
          </ul>
        </li>
        <li>
          How To Help
          <ul>
            <li>
              <a href="girls-who-code2016.glitch.me/how-to-help">Help everybody</a>
            </li>
          </ul>
        </li>
        <li>
          Articles
          <ul>
            <li>
              <a href="https://www.worldwildlife.org/species/directory?direction=desc&sort=extinction_status" target="_blank"> List of Endangered Species</a>
            </li>
          </ul>
        </li>
        <li><a class="bubbles_map" href="https://girls-who-code2016.glitch.me/map">Animal Map</a></li>
        <li>
          <a class="home" href="https://girls-who-code2016.gomix.me/"> Home </a>
        </li>
        </ul>
      </div>
        <div class="article">
          <p>
          <h2>
            Bengal Tiger
          </h2> 
          The Bengal Tiger is the national animal of both, India and Bangladesh. The tiger's coat is yellow to light orange, with stripes black to dark brown.
          The amount of the tigers have decreased dramatically in the past few years due to poaching and human-tiger conflict, 
          the Sundarbans mangrove forest in Bangladesh, is threatened by the construction of a coal-fired power plant, which could possibly be funded by the United States Export-Import Bank (Ex-Im). 
          The Sundarbans is home to many unique species including the critically endangered Indian pangolin, Irrawaddy dolphin, and, its most iconic resident -- the Bengal tiger. 
          There are thought to be about 2,000 tigers left.
          <br>
          <br>
            <img src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fbengal%20tiger%20Cropped.jpg" alt= "Bengal and White Tiger" width="400px" >
          <h2>
      
              White Tiger  
          </h2>
          The White tiger is a different coloured Bengal tiger. 
          The majority of its coat is a light cream colour, with very light brown or grey stripes. 
          The White tiger is not considered endangered even though there is only about 200 tigers left in the world. 
          They are not considered endangered because they are not their own species. So you might ask how did they start becoming popular? 
          In 1951 a white tiger was captured the tiger was bred so many times. Creating a subspecies of tigers.
          </p>
       </div>
    </div>
  </body>
</html>