<html>
  <head>
  <title>Blackbucks</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Blackbuck</h1>
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      <ul>
        <li>Games
          <ul>
            <li>
              <a href="http://www.brain-entertain.com/inner-animal-test/en/" target="_blank">Spirit Animal Quiz</a>
            </li>
           <li>
              <a href="https://www.buzzfeed.com/geico/what-animal-were-you-born-to-be?utm_term=.jf6z63lPva#.gyrJyP5do8" target="_blank">What is Your Inner Animal?</a>
            </li>
          </ul>
        </li>
        <li>
          How To Help
          <ul>
            <li>
              <a href="https://www.mspca.org/adoption-centers/nevins-farm-adoption-center/" target="_blank">MSPCA</a>
            </li>
          </ul>
        </li>
        <li>
          Articles
          <ul>
            <li>
              <a href="https://www.worldwildlife.org/species/directory?direction=desc&sort=extinction_status" target="_blank"> List of Endangered Species</a>
            </li>
          </ul>
        </li>
        <li>
          Find An Animal
          <ul>
            <li>
              <a href="https://girls-who-code2016.gomix.me/map"> Animal Map </a>
            </li>
          </ul>
        </li>
         <li>
          <a class="home" href="https://girls-who-code2016.gomix.me/"> Home </a>
        </li>
        </ul>
      </div>
        <div class="article">
          <p>
            The Blackbuck is an endangered and fully protected species in Nepal. One of the blackbuck’s most striking features is the pair of long, spiralling horns possessed by the male, which are marked with rings and sweep backwards from the head in a v-shaped arrangement. The male blackbuck is larger than the female and more conspicuously coloured, with the coat being a rich dark brown along the back, sides and the outsides of the legs. The coat of the female is yellowish-brown on the head and along the back. <br>
            One of the blackbuck's most noticable features is its spirialing horns, which are characteristics of the males. 
            It is the only member of the genus <em>antilope</em> found in India, and their population has been reduced majorly by poaching and hunting. 
          </p>
          <a href="http://www.arkive.org/blackbuck/antilope-cervicapra/">Learn More</a>
       </div>
    </div>
  </body>
</html>