<html>
  <head>
  <title>Blackbucks ☼.☼</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Blackbuck</h1>
  
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <center><p>
            The Blackbuck is an endangered and fully protected species in Nepal. One of the blackbuck’s most striking features is the pair of long, 
            spiraling horns possessed by the male, which is marked with rings and sweeps backward from the head in a v-shaped arrangement. The male
            blackbuck is larger than the female and more conspicuously colored, with the coat being a rich dark brown along the back, sides and the 
            outsides of the legs. The coat of the female is yellowish-brown on the head and along the back. <br>

            One of the blackbuck's most noticeable features is its spiraling horns, which are characteristics of the males. 
            It is the only member of the genus antelope found in India, and their population has been reduced majorly by poaching and hunting. 
            </p></center>
          <center><a href="http://www.arkive.org/blackbuck/antilope-cervicapra/" target="_blank">Learn More</a></center>
          <br>
          <center><img src="http://elelur.com/data_images/mammals/blackbuck/blackbuck-02.jpg"></center>
      
       </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>