<html>
  <head>
  <title>Girls Who Code ^-^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Black Face Lion Tamarin</h1>
    <a href="http://bakedcorn.gomix.me">(it's lit fam)</a>
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      <ul>
        <li>Games
          <ul>
            <li><a href="/penguingame">Penguin Game</a></li>
            <li>
              <a href="http://www.brain-entertain.com/inner-animal-test/en/" target="_blank">Spirit Animal Quiz</a>
            </li>
           <li>
              <a href="https://www.buzzfeed.com/geico/what-animal-were-you-born-to-be?utm_term=.jf6z63lPva#.gyrJyP5do8" target="_blank">What is Your Inner Animal?</a>
            </li>
          </ul>
        </li>
        <li>
          How To Help
          <ul>
            <li>
              <a href="https://www.mspca.org/adoption-centers/nevins-farm-adoption-center/" target="_blank">MSPCA</a>
            </li>
          </ul>
        </li>
        <li>
          Articles
          <ul>
            <li>
              <a href="https://www.worldwildlife.org/species/directory?direction=desc&sort=extinction_status" target="_blank"> List of Endangered Species</a>
            </li>
          </ul>
        </li>
        <li>
          Find An Animal
          <ul>
            <li>
              <a href="https://girls-who-code2016.gomix.me/map"> Animal Map </a>
            </li>
          </ul>
        </li>
         <li>
          <a class="home" href="https://girls-who-code2016.gomix.me/"> Home </a>
        </li>
        </ul>
      </div>
        <div class="article">
          <p>
            Black Faced Lion Tamarins are critically endagered. There are less than 400 left in their species.These animals are threatened by illegal pet trade, hunting, increased tourism, and inbreeding depression. The black-faced lion tamarin has a golden-colored back that contrasts with the black face, head, mane, chest, feet, forearms and tail. They eat fruit, nectar, insects, and plants. They are tipically in groups of 2-11. In 1994 they were put on the endangered list and in 1996 the were put on the critically endangered list. The squirrel sized monkey is considered on of the worls most endangered tamarin.  

          </p>
       </div>
    </div>
  </body>
</html>