<html>
  <head>
  <title>Blackbucks</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Blackbuck</h1>
  
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <p>
            The Blackbuck is an endangered and fully protected species in Nepal. One of the blackbuck’s most striking features is the pair of long, spiralling horns
            possessed by the male, which are marked with rings and sweep backwards from the head in a v-shaped arrangement. The male blackbuck is larger than the 
            female and more conspicuously coloured, with the coat being a rich dark brown along the back, sides and the outsides of the legs. The coat of the female 
            is yellowish-brown on the head and along the back. <br>
            One of the blackbuck's most noticable features is its spirialing horns, which are characteristics of the males. 
            It is the only member of the genus <em>antilope</em> found in India, and their population has been reduced majorly by poaching and hunting. 
          </p>
          <center><img src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fblackbuck-27%20Cropped.jpg?1493476206811"></center>
          <center><a href="http://www.arkive.org/blackbuck/antilope-cervicapra/" target="_blank">Learn More</a></center>
       </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>