<html>
  <head>
  <title>Black Faced Liuon Tamarin ♥‿♥</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Black Faced Lion Tamarin</h1>
    
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <center><p>
            Black Faced Lion Tamarins are critically endagered. There are less than 400 left in their species.These animals are threatened by illegal pet trade, 
            hunting, increased tourism, and inbreeding depression. The black-faced lion tamarin has a golden-colored back that contrasts with the black face, head,
            mane, chest, feet, forearms and tail. They eat fruit, nectar, insects, and plants. They are typically in groups of 2-11. In 1994 they were put on the 
            endangered list and in 1996 the were put on the critically endangered list. The squirrel sized monkey is considered on of the worls most endangered tamarin.  
            </p></center>
           <center><a href="http://www.arkive.org/black-faced-lion-tamarin/leontopithecus-caissara/" target="_blank">Learn more</a> </center>
          <br>
          <center><img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Leontopithecus_caissara.jpg" alt= "Black Faced Lion Tamarin" width= "400px"></center>
         
       </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>