<html>
  <head>
  <title>Churchill polar bear (◕‿◕✿)</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Polar Bear</h1>
    
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <center><p>
            Polar bears, often called the "Lords of the Arctic," were added to the Endangered Species Act in May 2008 as a threatened species in the United States. 
            Polar Bears are carnivores (meat eaters) they are mostly found living in Antarctica. In 2015 there were about 22,000 left. They are categorized as 
            vulnerable because their population decreases 30% every year. Some of the problems that are affecting polar bears are climate change, pollution in the
            form of toxic contaminants, oil and gas, and human-bear interaction. The reason climate change affects polar bears so much is because it causes habitat
            loss which leads to starvation. Polar bears get their food from hunting more specifically from a platform of ice in the sea. When temperatures rise the 
            ice melt which makes it hard for them to get food leading to starvation. Due to their position on the top of the ecological pyramid, their bodies are 
            among the most contaminated of the Arctic mammals. When an oil spill occurs it usually floats toward where polar bears and their prey are concentrated. 
            Polar bears rely partly on their fur to keep them warm when oil comes it soils their fur and gives them a chance of dying of hypothermia. Scientists
            have predicted by 2050 almost two-thirds of the polar bear population would have disappeared. As of right know the polar bear is at a stable rate of change.
            </p></center>
          
          <center><a href="http://everythingchurchill.com/experiences/polar-bears/" target="_blank">Learn more</a> </center>
          <br>
          <center><img src= "https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fpolar-bear-2%20Cropped.jpg"></center>
       </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>