<html>
  <head>
  <title>Girls Who Code ^-^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Dugong</h1>
  
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <p>
            Dugongs are vegetarians that can be found in the waters from East Africa to Australia, including the Red Sea, Indian Ocean, and the Pacific. Dugongs are closely related to
            manatees, while their tails are similar to a whale’s. Dugongs are known to be alone or in pairs, and are rarely seen in a large herd. The diet of a dugong consists of under
            water grasses, which they find using their sensitive snouts and consuming them with rough lips. Dugongs can only stay underwater for six minutes before they run out of air,
            which by then they must surface. They breathe by “standing on their tail with their head above the water. Dugongs are hunted for their meat, oil, skin, bones, and teeth. 
            Dugongs are endangered due to habitat loss, and water pollution. Their population is decreasing. 
          </p>
          <img src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fdugong.jpg?1492874868827" alt= "Dugong">
          <a href="http://www.nationalgeographic.com/animals/mammals/d/dugong/" target="_blank">Learn more</a>
       </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>