<html>
  <head>
  <title>Girls Who Code ^-^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
 
<div id="main">
  <h1>European Bison</h1>
    <a href="http://bakedcorn.gomix.me">(it's lit fam)</a>
   <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      <ul>
        <li>Games
          <ul>
            <li><a href="/penguingame">Penguin Game</a></li>
            <li>
              <a href="http://www.brain-entertain.com/inner-animal-test/en/" target="_blank">Spirit Animal Quiz</a>
            </li>
           <li>
              <a href="https://www.buzzfeed.com/geico/what-animal-were-you-born-to-be?utm_term=.jf6z63lPva#.gyrJyP5do8" target="_blank">What is Your Inner Animal?</a>
            </li>
          </ul>
        </li>
        <li>
          How To Help
          <ul>
            <li>
              <a href="https://www.mspca.org/adoption-centers/nevins-farm-adoption-center/" target="_blank">MSPCA</a>
            </li>
          </ul>
        </li>
        <li>
          Articles
          <ul>
            <li>
              <a href="https://www.worldwildlife.org/species/directory?direction=desc&sort=extinction_status" target="_blank"> List of Endangered Species</a>
            </li>
          </ul>
        </li>
        <li>
          Find An Animal
          <ul>
            <li>
              <a href="https://girls-who-code2016.gomix.me/map"> Animal Map </a>
            </li>
          </ul>
        </li>
         <li>
          <a class="home" href="https://girls-who-code2016.gomix.me/"> Home </a>
        </li>
        </ul>
      </div>
        <div class="article">
          <h2>
            Eurpean Bison
          </h2>
          <p>
            The European Bison is considered vulnerable. Conservation of this species started in 1929. They were commonly killed for their hide, or their horns. There are about 4,663 European Bison’s now. The European Bison is one of two extant species of bison, alongside the American Bison. Three subspecies used to live in the past but now there is only one.
            
          </p>
       </div>
    </div>
  </body>
</html>