<html>
  <head>
  <title>Girls Who Code ^-^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
 
<div id="main">
  <h1>European Bison</h1>
    <a href="http://bakedcorn.gomix.me">(it's lit fam)</a>
   <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <h2>
            Eurpean Bison
          </h2>
          <p>
            The European Bison is considered vulnerable. Conservation of this species started in 1929. They were commonly killed for their hide, or their horns. 
            There are about 4,663 European Bison’s now. The European Bison is one of two extant species of bison, alongside the American Bison. Three subspecies 
            used to live in the past but now there is only one.
            
          </p>
          <a href="http://www.arkive.org/european-bison/bison-bonasus/" target="_blank">Learn more</a>
       </div>
    </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>