 <div id="nav">
      <ul>
        <li>Games
          <ul>
            <li><a href="/penguingame">Penguin Game</a></li>
            <li><a href="/animal-quiz">What Animal Are you?</a></li>
            <li><a href="/little-red-riding-hood">Little Red Riding Hood Game</a></li>
            <li>
              <a href="http://www.brain-entertain.com/inner-animal-test/en/" target="_blank">Spirit Animal Quiz</a>
            </li>
           <li>
              <a href="https://www.buzzfeed.com/geico/what-animal-were-you-born-to-be?utm_term=.jf6z63lPva#.gyrJyP5do8" target="_blank">What is Your Inner Animal?</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="help" href="https://girls-who-code2016.glitch.me/how-to-help"> How to Help</a>
        </li>
        <li>Articles
          <ul>
            <li><a href="/helpful-websites">Helpful Websites</a></li>
              <a href="https://www.worldwildlife.org/species/directory?direction=desc&sort=extinction_status" target="_blank"> List of Endangered Species</a>
            </li>
          </ul>
        </li>
       <li><a class="bubbles_map" href="https://girls-who-code2016.glitch.me/map">Animal Map</a></li>
       <li><a class="about" href="https://girls-who-code2016.glitch.me/About-Us">About Us</a></li>
         <li>
          <a class="home" href="https://girls-who-code2016.gomix.me/"> Home </a>
           
           <a href="http://www.quick-counter.net/" title="HTML hit counter - Quick-counter.net"><img src="http://www.quick-counter.net/aip.php?tp=bd&tz=Europe%2FLondon" alt="HTML hit counter - Quick-counter.net" border="0" /></a>

        </li>
        </ul>
      </div>

