<html>
  <head>
  <title>Girls Who Code ^-^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
 
<div id="main">
  <h1>Giant Panda</h1>
  
   <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <h2>
            Giant Panda
          </h2>
          <p>
            The Giant Panda is one of the most adored bears in China. It is noticed by its distinctive white and black color. 
            Although its numbers are increasing slowly, it still remains one of the most endangered bears in the world. Poaching and illegal hunting are 2 main problems for these pandas.
            
          </p>
          <center><img src= "https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fpanda2.jpg?1493474960957" alt= "Giant Panda"></center>
          <br>
          <center><a href="http://wwf.panda.org/what_we_do/endangered_species/giant_panda/whatyoucando/" target="_blank">Learn more</a></center>
       </div>
    </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>