<html>
  <head>
  <title>Helpful Websites └ʕ•ᴥ•ʔ┘</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Helpful Websites</h1>
    <div id="nav">
  </div>
    <p>
      Learn more animal facts on <a href="http://www.nationalgeographic.com/animals/index/" target="_blank">National Geographic</a>
      </p>
    <p>
      See a full A-Z list of currently endangered animals all over the world on <a href="https://a-z-animals.com/animals/endangered/" target"_blank">Endangered Animals</a>
      </p>
  <br>
  
    <p>
      Check out these websites to learn more about specific endangered animals, in which you can find on the map:
    </p>
      <p>
        <a href="http://www.livescience.com/55277-addax.html" target="_blank">Addax</a>
        </p>
      <p>
        <a href="https://www.elephants.com/about-elephants?gclid=CODLl8TPptMCFUVYDQodb4kH5A" target="_balnk">African Elephant</a>
        </p>
      <p>
       <a href="http://wildlifeact.com/about-wildlife-act/wildlife-species/african-wild-dog-lycaon-pictus/?gclid=CPv69rHiptMCFcVWDQodJYsMMQ" target="_blank">African Wild Dog</a>
        </p>
      <p>
        <a href="http://www.arkive.org/black-faced-lion-tamarin/leontopithecus-caissara/" target="_blank">Black Faced Lion Tamarin</a>
        </p>
      <p>
        <a href="http://www.arkive.org/european-bison/bison-bonasus/" target="_blank">European Bison</a>
        </p>
      <p>
        <a href="http://everythingchurchill.com/experiences/polar-bears/" target="_blank">Churchill Polar Bear</a>
        </p>
      <p>
        <a href="http://lemurconservationnetwork.org/how-to-help/" target="_blank">Lemur</a>
        </p>
      <p>
        <a href="https://wildcatconservation.org/wild-cats/south-america/margay/" target="_blank">Margay</a>
        </p>
      <p>
        <a href="http://www.defenders.org/mexican-gray-wolf/basic-facts" target="_blank">Mexican Gray Wolf</a>
        </p>
      <p>
        <a href="http://www.arkive.org/mountain-zebra/equus-zebra/" target="_balnk">Mountain Zebra</a>
        </p>
      <p>
        <a href="http://factslegend.org/30-amazing-nerpa-seal-facts/" target="_blank">Nerpa Seal</a>
        </p>
      <p>
        <a href="http://www.livescience.com/57312-red-pandas.html" target="_blank">Red Panda</a>
        </p>
      <p>
        <a href="http://wwf.panda.org/what_we_do/endangered_species/saiga_antelope/" target="_blank">Saiga Antelope</a>
        </p>
      <p>
        <a href="https://www.savethesalamanders.com/how-you-can-help.html" target="_blank"> Salamander</a>
        </p>
      <p>
        <a href="http://www.seafariireland.com/sea-eagle-facts/" target="_blank">Sea Eagle</a>
        </p>
      <p>
        <a href="http://www.tigers-world.com/south-china-tiger/" target="_blank">South China Tiger</a>
        </p>
      <p>
        <a href="http://www.nationalgeographic.com/animals/mammals/group/spider-monkeys/" target="_blank">Spider Monkey</a>
        </p>
      <p>
        <a href="http://tapirs.org/tapirs/" target="_blank">Tapirs</a>
        </p>
      <p>
        <a href="http://us.whales.org/species-guide/orca-killer-whale" target="_blank">White Orca</a>
        </p>
      <p>
        <a href="http://www.edgeofexistence.org/mammals/species_info.php?id=79" target="_blank">Yellow Tailed Wooly Monkey</a>
        </p>
    
   
  
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>

