
<html>
  <head>
  <title>How to Help ╘[◉﹃◉]╕</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Ways You Can Help!</h1>
   
    <div id="nav">
      
      </div>
        <div class="article">
          
       </div>
  <p>
    
    You can help save some animals from your own home! Wow! The MSPCA is a great way to help. They have ways to donate money, ways to get involved, and just helpful information to get you informed.<br>
     <a href="https://www.mspca.org/" target="_blank">MSPCA</a>
  </p>
  <p>
    PETA, the people for ethical treatment of animals, also has ways to help. They have a blog, ways to take action, and issues going on with animal testing and abuse. They are also pro-vegetarian and have recipes and ways to become vegetarian if you're about that lifestyle. <br>
    <a href="https://www.peta.org/" target="_blank">PETA</a>
  </p>
  <p>
    Help animals by donating to WCN, a wildlife program that is currently working to save 37 different species in various countries. They guarantee 100% of their donations go to their wildlife funds, and have multiple programs to help protect animals in multiple countries. <br>
    <a href="https://wildnet.org/wildlife-programs" target="_blank">WCN(wildlife conservation network)</a>
  </p>
    
  <p>
    The Wildlife Act is a program (officially!)supported by the WWF(world wildlife fund) that allows you to volunteer in different countries around the world that protect nature and animals. With multiple programs in Africa, North island, and national parks, they have volunteers work with endangered species.<br>
    <a href="http://wildlifeact.com/volunteer/?gclid=CIKWh-XdptMCFYONswodoukDmA" target="_blank">Wildlife Act!</a>
  </p>
  <p>
    If helping one specific animal is your thing, the Jane Goodall institute is focused around chimps and monkeys. To date, they've helped over 5,000 gorillas and chimps! <br>
    <a href="https://www.janegoodall.org/about" target="_blank">The Jane Goodall Institute</a>
  </p>
  <p>
    The IUCN is an organization that is devoted to everything from endangered species to climate change. Here are ways you can help, like becoing a member or joining a commision!<br>
    <a href="https://www.iucn.org/about" target="_blank">IUCN</a>
  </p>
  <p>
    Don't want to donate to causes? The Endangered Species Coalition has ways to prtoect animals in your own home! <br>
    <a href="http://www.endangered.org/10-easy-things-you-can-do-to-save-endangered-species/" target="_blank">Endangered Species Coalition</a>
  </p>
      </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>