<html>
  <head>
  <title>Girls Who Code ^-^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Ways you can help!!!!!!!!!!!!!!!!!!!</h1>
    <a href="http://bakedcorn.gomix.me">(it's lit fam)</a>
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      <ul>
        <li>Games
          <ul>
            <li><a href="/penguingame">Penguin Game</a></li>
            <li>
              <a href="http://www.brain-entertain.com/inner-animal-test/en/" target="_blank">Spirit Animal Quiz</a>
            </li>
           <li>
              <a href="https://www.buzzfeed.com/geico/what-animal-were-you-born-to-be?utm_term=.jf6z63lPva#.gyrJyP5do8" target="_blank">What is Your Inner Animal?</a>
            </li>
          </ul>
        </li>

        <li>
          Articles
          <ul>
            <li>
              <a href="https://www.worldwildlife.org/species/directory?direction=desc&sort=extinction_status" target="_blank"> List of Endangered Species</a>
            </li>
          </ul>
        </li>
        <li> 
          <a class="bubbles_map" href="https://girls-who-code2016.glitch.me/map">Animal Map</a>
        </li>
         <li>
          <a class="home" href="https://girls-who-code2016.gomix.me/"> Home </a>
        </li>
        </ul>
      </div>
        <div class="article">
          
       </div>
  <p>
    
    You can help save some animals from your own home!! Wow!! The MSPCA is a great way to help. They have ways to donate money, ways to get involved, and just helpful information to get you informed.<br>
     <a href="https://www.mspca.org/" target="_blank">MSPCA</a>
  </p>
  
    </div>
  </body>
</html>