<html>
<head>
  <title>Girls Who Code ^-^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Welcome to the Girls Who Code Website!</h1> 
      <a href="http://bakedcorn.gomix.me" class="bakedcorn">(it's lit fam)</a>
  

    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is amazin'--> 
    <div id="nav">
      
      </div>
      <div class="pictures">
        <img class="picture" src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fmonkey1%20Cropped.jpg" alt="Tamarin"/>
        <img style="display: none;" class="picture" src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fmonkey2%20Cropped.jpg" alt="Tamarin"/>
        <img style="display: none;" class="picture" src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Ftiger%20Cropped.jpg" alt="Tiger"/>
        <img style="display: none;" class="picture" src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fwhale%20Cropped.jpg" alt="picture"/>
        <img style="display: none;" class="picture" src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Ftamarin%20Cropped.jpg?1494082050163" alt="Cute tamarins"/>
        <img style="display: none;" class="picture" src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fturtle%20Cropped.jpg?1494082079070" alt="Adorable baby turtle^-^"/>
        <img style="display: none;" class="picture" src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2FpolarbeARS%20Cropped.jpg?1494082222135" alt="Polar Bears"/>
        <img style="display: none;" class="picture" src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fmanatee%20Cropped.jpg?1494082210412" alt="Florida Manatee"/>
        <img style="display: none;" class="picture" src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fparrot%20Cropped.jpg?1494082197103" alt="Parrot"/>
        <img style="display: none;" class="picture" src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fleopard%20Cropped.jpg?1494082200593" alt="Persian Leopard"/>
        <img style="display: none;" class="picture" src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fspidermonkey%20Cropped.jpg?1494082202795" alt="Spider Monkey"/>
        <img style="display: none;" class="picture" src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Frhino%20Cropped.jpg?1494084065999" alt="Black Rhino"/>
        <img style="display: none;" class="picture" src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Flemur%20Cropped.jpg?1494084067786" alt="Ring Tailed Lemur">
        <img style="display: none;" class="picture" src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fdog%20Cropped.jpg?1494084186666" alt="Afican painted dog">
  </div>  
 
  <div class="logo">
    
  
    <iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/141174130/?autostart=true" frameborder="0" allowfullscreen></iframe>
    <img src= "https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Foutput_qs9Xoi%20(1)%20(1).gif?1494079309345">
    <img src= "https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Foutput_z9vsdA.gif?1494079315828">
  </div>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
</div>
  
</body>
</html>