<html>
  <head>
  <title>Kemp Ridley Turtles ಠ⌣ಠ</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Kemp Ridley Turtle</h1>
    
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <center><p>
            Kemp's Ridley Turtles are the most endangered species of sea turtles there are. These turtles are about 70cm in length, with an olive gray shell. 
            There are only about 1,001 to 10,000 nesting females left, due to habitat loss, climate change, pollution, and other factors. Kemp Ridley Turtles 
            are found in the Gulf of Mexico but also close to Nova Scotia.They prefer shallow waters, where they dive to the bottom to feed on crabs, which are
            their favorite food, and other shellfish. They also eat jellyfish, and occasionally munch on seaweed and sargassum. They may live to be 50 years old.
            They also can be extremely tiiny turtles.They have been endangered since 1970s. 
            </p></center>
          <center><a href="http://wwf.panda.org/what_we_do/endangered_species/marine_turtles/kemps_ridley_turtle/index.cfm" target="_blank">Learn more</a></center>
          <br>
          <center><img src="https://c1.staticflickr.com/9/8477/8213122963_665433bac1_b.jpg"></center>
          
       </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>