<html>
  <head>
    <title>Little Red Riding Hood</title>
      <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
    
  </head>
<body>
  <div id="main">
  <h1>Little Red Riding Hood</h1>
    
    
    
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <center><p>
            Press The Green Flag to play the game!
            </p></center>
          <center><iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/155746845/?autostart=false" frameborder="0" allowfullscreen></iframe></center>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
    </div>
  </div>
  </body>
  </html> 