<html>
<head>
  <link href="style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  <style>
    .circular-image {
  border-radius:  50%;
}
    
  </style>
</head>
<body>
  <div id="main">
    <h1>Map</h1>
    <div id="nav"> 
      <ul> 
        <li>
          Games
          <ul>
            <li> 
              <a href="http://www.brain-entertain.com/inner-animal-test/en/" target="_blank">Spirit animal quiz</a>
            </li>
            <li>
              <a href="https://www.buzzfeed.com/geico/what-animal-were-you-born-to-be?utm_term=.jf6z63lPva#.gyrJyP5do8" target="_blank">Another quiz</a>
            </li>
          </ul>
        </li>
        <li>
          How To help
          <ul>
            <li>
              <a href="https://www.mspca.org/adoption-centers/nevins-farm-adoption-center/" target="_blank"> MSPCA</a>
            </li>
          </ul>
        </li>
        <li>
          Articles
          <ul>
            <li>
              <a href="https://www.worldwildlife.org/species/directory?direction=desc&sort=extinction_status" target="_blank"> List of endangered species</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="home" href="https://girls-who-code2016.gomix.me/"> Home </a>
        </li>
      </ul>
    </div>
    
    <div class="map" style="background-image: url('https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2FGirls%20who%20code%20globe%20(1).jpg');
background-repeat:no-repeat;
                position:relative;
              max-width:100%;
                height:0px;
                padding-bottom:61%;
                background-size:contain;
                background-position: 50% 50%" >
      <img style="position:absolute; TOP:37%; LEFT:24%; WIDTH:4%; HEIGHT:auto"
     src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2FSpider%20Monkey%20Cropped.jpg" alt="Spider Monkey" width="50" class="circular-image" /> 
      <img style="position:absolute; TOP:30%; LEFT:21%; WIDTH:4%; HEIGHT:auto"
     src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2FMexican-Wolf-AGFD%20Cropped.jpg" alt="Mexican Wolf" width="50" class="circular-image" /> 
      <img style="position:absolute; TOP:33%; LEFT:72%; WIDTH:4%; HEIGHT:auto"
     src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fbengal%20tiger%20Cropped.jpg" alt="Mexican Wolf" width="50" class="circular-image" /> 
      <img style="position:absolute; TOP:33%; LEFT:67%; WIDTH:4%; HEIGHT: auto" 
      src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2FAsiatic%20Lion%20Without%20Crop%20Cropped.jpg" alt="Asiatic Lion" width="50" class="circular-image" />
      
  </div>
<!--<div align="center"> <img src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2FGirls%20who%20code%20globe%20(1).jpg" alt="Map of the World; Where these amazing animals live!" width="1200" >
  </div>-->

  </div>
   <!--<body background="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2FGirls%20who%20code%20globe%20(1).jpg" background-width="50%"> 
    <!-- define the width html background-->
</body>
</html>