<html>
<head>
  <title>Animal Map ʕ•ᴥ•ʔ</title>
  <link href="style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  <style>
    .circular-image {
  border-radius:  50%;
}
    
  </style>
</head>
<body>
  <div id="main">
    <h1>Map</h1>
    <div id="nav"> 
        
      
    </div>
    
    <div class="map" style="background-image: url('https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2FGirls%20who%20code%20globe.jpg');
background-repeat:no-repeat;
                position:relative;
              max-width:100%;
                height:0px;
                padding-bottom:61%;
                background-size:contain;
                background-position: 50% 50%" >
      <a href="/spider-monkey"><img style="position:absolute; TOP:37%; LEFT:24%; WIDTH:4%; HEIGHT:auto"
     src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2FSpider%20Monkey%20Cropped.jpg" alt="Spider Monkey" width="50" class="circular-image" /> </a>
      <a href="/mexican-wolf"><img style="position:absolute; TOP:30%; LEFT:21%; WIDTH:4%; HEIGHT:auto"
     src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2FMexican-Wolf-AGFD%20Cropped.jpg" alt="Mexican Wolf" width="50" class="circular-image" /> </a>
      <a href="/bengal-tiger"><img style="position:absolute; TOP:35%; LEFT:72%; WIDTH:4%; HEIGHT:auto"
     src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fbengal%20tiger%20Cropped.jpg" alt="Bengal Tiger" width="50" class="circular-image" /> </a>
      <a href="/asiatic-lion"><img style="position:absolute; TOP:36%; LEFT:67%; WIDTH:4%; HEIGHT: auto" 
                                   src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2FAsiatic%20Lion%20Without%20Crop%20Cropped.jpg" alt="Asiatic Lion" width="50" class="circular-image" /> </a>
       <a href="/snow-leopard"> <img style="position:absolute; TOP:25%; LEFT:77%; WIDTH:4%; HEIGHT: auto"
                                     src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fsnow_leopard-600x400%20Cropped.jpg" alt="Snow Leopard" width="50" class="circular-image" /> </a>
      <a href="/black-buck"><img style="position:absolute; TOP:28%; LEFT:68%; WIDTH:4%; HEIGHT: auto"
           src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2F220px-Blackbuck_2%20Cropped.jpg" alt="Blackbuck" width="50" class="circular-image" /> </a>
      <a href="/red-panda"><img style="position:absolute; TOP:24%; LEFT:72%; WIDTH:4%; HEIGHT: auto"
                                src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fred_panda_square_sticker_3_x_3%20Cropped.jpg" alt="Red Panda" width="50" class="circular-image" /> </a>
     <a href="/kemp-ridley-turtle"><img style="position:absolute; TOP:24%; LEFT:30%; WIDTH:4%; HEIGHT: auto"
              src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2F9685001_orig%20Cropped.jpg" alt="Kemp Ridley's Turtle" width="50" class="circular-image" /></a>
     <a href="/nerpa-seal"><img style="position:absolute; TOP:6%; LEFT:70%; WIDTH:4%; HEIGHT: auto"
           src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2F7fcda2dafb169c85f4850288dc6b46c5%20Cropped.jpg" alt="Nerpa Seal" width="50" class="circular-image" /> </a>
     <a href="/churchill-polar-bear"><img style="position:absolute; TOP:6%; LEFT:25%; WIDTH:4%; HEIGHT: auto"
           src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fpolar-bear-2%20Cropped%20(2).jpg" alt="Churchill's Polar Bear" width="50" class="circular-image" /> </a> 
     <a href="/margay"><img style="position:absolute; TOP:60%; LEFT:34%; WIDTH:4%; HEIGHT: auto" 
             src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Ftumblr_static_tumblr_static_6nt76aa47xwc8k4w00wgc0cgw_640%20Cropped%20(1).jpg" alt="Margay" width="50" class="circular-image"/></a>
     <a href="/antelope"> <img style="position:absolute; TOP:13%; LEFT:66%; WIDTH:4%; HEIGHT: auto"
           src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fmale-saiga-antelope-summer%20Cropped.jpg" alt="Saiga Antelope" width="50" class="circular-image"/></a>
       <a href="/white-orca"><img style="position:absolute; TOP:8%; LEFT:78%; WIDTH:4%; HEIGHT:auto" 
     src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fmigaloo-white-whale-4%20Cropped.jpg" alt="White Orca" width="50" class="circular-image" /> </a>
       <a href="/dugong"><img style="position:absolute; TOP:67%; LEFT:82%; WIDTH:4%; HEIGHT:auto"
     src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fdugong-image%20Cropped.jpg" alt="Dugong" width="50" class="circular-image" /> </a>
   <a href="/black-faced-lion-tamarin"><img style="position:absolute; TOP:43%; LEFT:30%; WIDTH:4%; HEIGHT:auto"
     src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2FGolden-headed-lion-tamarin-on-tree-branch%20Cropped.jpg" alt="Black-faced Lion Tamarin" width="50" class="circular-image" /></a>
      <a href="/mountain-zebra"><img style="position:absolute; TOP:60%; LEFT:54%; WIDTH:4%; HEIGHT:auto"
     src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2FMountain_Zebra_National_Park_025%20Cropped.jpg" alt="Mountain Zebra" width="50" class="circular-image" /> </a>
      <a href="/yellow-tailed-wooly-monkey"><img style="position:absolute; TOP:48%; LEFT:26%; WIDTH:4%; HEIGHT:auto"
                                                 src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fwoolymonkey-273x300%20Cropped.jpg" alt="Yellow-Tailed Wooly Monkey" width="50" class="circular-image" /> </a>
     <a href="african-elephant"><img style="position:absolute; TOP:45%; LEFT:52%; WIDTH:4%; HEIGHT:auto"
        src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Felephants%20Cropped.jpg" alt="African Elephant" width="50" class="circular-image" /> </a>
      <a href="sea-eagle"><img style="position:absolute; TOP:7%; LEFT:40%; WIDTH:4%; HEIGHT:auto"
                               src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fseagle%20Cropped.jpg" alt="Sea Eagle" width="50" class="circular-image" /> </a>
      <a href="/european-bison"><img style="position:absolute; TOP:16%; LEFT:51%; WIDTH:4%; HEIGHT:auto"
                                     src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Feuropean_bison_228006%20Cropped.jpg" alt="European Bison" width="50" class="circular-image" /> </a>
         <a href="sumatran-rhino"><img style="position:absolute; TOP:43%; LEFT:80%; WIDTH:4%; HEIGHT:auto"
                                       src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2F220px-Sumatran_rhinoceros_four_days_old%20Cropped.jpg" alt="Sumatran Rhino" width="50" class="circular-image" /> </a>
  
          <a href="south-china-tiger"><img style="position:absolute; TOP:20%; LEFT:70%; WIDTH:4%; HEIGHT:auto"
                                           src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fsouth%20china%20tiger%20Cropped.jpg" alt="South china tiger" width="50" class="circular-image"/> </a>
      <a href="addax"><img style="position:absolute; TOP:32%; LEFT:50%; WIDTH:4%; HEIGHT:auto"
                                           src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2FAddax-web620%20Cropped.jpg" alt="Addax" width="50" class="circular-image"/> </a>
    <a href="addax"><img style="position:absolute; TOP:32%; LEFT:50%; WIDTH:4%; HEIGHT:auto"
                                           src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2FAddax-web620%20Cropped.jpg" alt="Addax" width="50" class="circular-image"/> </a>
    <a href="amsterdam-albatross"><img style="position:absolute; TOP:59%; LEFT:69%; WIDTH:4%; HEIGHT:auto"
                                           src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2FAmsterdam-Albatross-couple-640x320%20Cropped.jpg?1492264703556" alt="Amsterdam Albatross" width="50" class="circular-image"/> </a>
    <a href="african-wild-dog"><img style="position:absolute; TOP:54%; LEFT:55%; WIDTH: 4%; HEIGHT: auto"
                                    src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fafrican-wild_dog%20Cropped.jpg?1492872980554" alt="African Wild Dog" width="50" class="circular-image"/> </a> 
    <a href="tasmanian-devil"><img style="position:absolute; TOP:72%; LEFT:84%; WIDTH: 4%; HEIGHT: auto"
                                   src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Ftasmanian-devil%20Cropped.jpg?1492873946857" alt="Tasmanian Devil" width="50" class="circular-image"/> </a>
    <a href="amur-leopard"><img style="position:absolute; TOP:32%; LEFT:76%; WIDTH: 4%; HEIGHT: auto"
                                src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Famur-leopard%20Cropped.jpg?1492875924436" alt="Amur Leopard" width="50" class="circular-image"/> </a>
    <a href="giant-panda"><img style= "position:absolute; TOP:30%; LEFT:72%; WIDTH: 4%; HEIGHT: auto"  
                               src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fpanda-Cropped.jpg?1493473825512" alt="Giant Panda" width="50" class="circular-image"/> </a>
    <a href="tapir"><img style= "position:absolute; TOP:51%; LEFT:34%; WIDTH: 4%; HEIGHT: auto"
                         src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Ftapir1-cropped.jpg?1493475219487" alt="Tapir" width="50" class="circular-image"/></a>
    <a href="salamander"><img style= "position:absolute; TOP:26%; LEFT:25%; WIDTH:4%; HEIGHT:auto"
                              src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2FSalamander_head-Cropped.jpg?1493477171490" alt="Salamander" width="50" class="circular-image"/></a>
    <a href="lemur"><img style= "position:absolute; TOP:57%; LEFT:60%; WIDTH:4%; HEIGHT:auto"
                         src= "https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Flemur2-Cropped.jpg?1493478776834" alt="Lemurs" width="50" class="circular-image"/></a>
    <a href="sea-otter"><img style= "position:absolute; TOP:10%; LEFT:20%; WIDTH:4%; HEIGHT:auto"
                             src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2FSea-otter_cropped.jpg?1494081772913" alt="Sea Otter" width="50" class="circular-image"/></a>
    <a href="okapi"><img style= "position:absolute; TOP:47%; LEFT:55%; WIDTH:4%; HEIGHT:auto"
                         src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2F-Okapi2.jpg?1494082891406" alt="Okapi" width="50" class="circular-image"/></a>
    </div>
<!--<div align="center"> <img src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2FGirls%20who%20code%20globe%20(1).jpg" alt="Map of the World; Where these amazing animals live!" width="1200" >
  </div>-->

  </div>
   <!--<body background="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2FGirls%20who%20code%20globe%20(1).jpg" background-width="50%"> 
    <!-- define the width html background-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  <a href="https://puns-for-days.glitch.me/" class="puns">Nothing to see here....</a>
</body>
</html>