<html>
  <head>
  <title>Mexican Wolf (✿´‿`)</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>About The Mexican Wolf</h1>
    
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <center><p class="mexican-wolf">
The Mexican Wolf is the most endangered wolf on the planet.The Mexican wolf preferred ponderosa pine-covered mountains, piñon-juniper forests, oak woodlands, and adjacent grasslands above 4,000 feet in elevation all very specific environments. After years of losing its natural habitat and deliberate extermination by settlers, the Mexican grey wolf was saved from extinction when it was placed on the Endangered Species List in 1976.
Now there are only about 350 Mexican Wolves left. Mexican wolves are mainly found in the grasslands and forests of New Mexico and Arizona.          
          </p></center>
          <br>
          <center><a class="mexican-wolf" href="http://www.defenders.org/mexican-gray-wolf/basic-facts" target="_blank"> Learn More</a></center>
          <center><img src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2FMexican-Wolf-AGFD%20Cropped.jpg?1486827075471" alt= "Mexican Wolf" width="400px" ></center>
<br>
          
       </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>