<html>
  <head>
  <title>Girls Who Code ^-^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Mountain Zebra</h1>
    
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
  <!-- ahahah the snake isn't there anymore -->
    <div id="nav">
      
      </div>
        <div class="article">
          <p>
            The Mountain Zebra is a threatened species that lives in Angola, Namibia, and other areas in South West Africa. 
            Mountain Zebras can live up to 2,000 meters (6561.7 feet) above sea level, but move lower during colder seasons. In the 1930s, only about 100 Mountain Zebras were still around. 
            Luckily, the population by several thousand since then. The Mountain Zebra can be identified by its 
            stomach, as the Mountain Zebra's stomach only has one black stripe going across it.
            </p>
          <center><img src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjohncena.jpg"></center>
          <center><a href="http://www.arkive.org/mountain-zebra/equus-zebra/" target="_blank">Learn more</a></center>
      
       </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>