<html>
  <head>
  <title>Nerpa Seal ᕙ(⇀‸↼‶)ᕗ</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Nerpa Seal</h1>
    
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <center><p>
            <h2>
              Nerpa Seal
          </h2>
          The Nerpa Seal or the Baikal seal has about 80,000 left on the world. They live only in the lake of Baikal. 
          They are being killed for their furs. About 2,000 seals are killed for their fur a year and 1,500-4,000 a year die annually due to drowning poaching etc.
          The most serious threat in the future is global warming.
            </p></center>
 
       
          <br>
  <center><a href="http://factslegend.org/30-amazing-nerpa-seal-facts/" target="_blank">Learn More</a></center> 
  <center><img src="https://s-media-cache-ak0.pinimg.com/736x/de/20/f3/de20f3d1d1707a9047a4ed56d6f6daf1.jpg" width="400px"></center>
  
  </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>