<html>
  <head>
  <title>Girls Who Code ^-^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Penguin Games ^ ^</h1>
    <a href="http://bakedcorn.gomix.me">(it's lit fam)</a>
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      <ul>
        <li>Games
          <ul>
            <li><a href="https://www.codesters.com/embed/preview/288e4fa2f82241cd90ad6b1cd81eb5cc">Penguin Game</a></li>
            <li>
              <a href="http://www.brain-entertain.com/inner-animal-test/en/" target="_blank">Spirit Animal Quiz</a>
            </li>
           <li>
              <a href="https://www.buzzfeed.com/geico/what-animal-were-you-born-to-be?utm_term=.jf6z63lPva#.gyrJyP5do8" target="_blank">What is Your Inner Animal?</a>
            </li>
          </ul>
        </li>
        <li>
          How To Help
          <ul>
            <li>
             <a href="girls-who-code2016.glitch.me/how-to-help">Help everybody</a>
            </li>
          </ul>
        </li>
        <li>
          Articles
          <ul>
            <li>
              <a href="https://www.worldwildlife.org/species/directory?direction=desc&sort=extinction_status" target="_blank"> List of Endangered Species</a>
            </li>
          </ul>
        </li>
       <li><a class="bubbles_map" href="https://girls-who-code2016.glitch.me/map">Animal Map</a></li>
         <li>
          <a class="home" href="https://girls-who-code2016.gomix.me/"> Home </a>
        </li>
        </ul>
      </div>
        <div class="article">
          <center><p>
            Press "Run" to play the penguin game. Help the penguin retrieve the fish so it can go home. Watch out for the tumbleweed! 
            </p></center>
          <center><iframe src="https://www.codesters.com/embed/preview/288e4fa2f82241cd90ad6b1cd81eb5cc/" height="680" width="500" seamless="seamless" frameborder="0"></iframe></center>
          <center><iframe src="https://www.codesters.com/embed/preview/68ae6df3ce76451fb19fda0b93bfcf76/" height="680" width="500" seamless="seamless" frameborder="0"></iframe></center>
          <center><iframe src="https://www.codesters.com/embed/preview/ef65e4dadfe843248652d85135a55223/" height="680" width="500" seamless="seamless" frameBorder="0"></iframe></center>
       </div>
    </div>
  </body>
</html>