<html>
  <head>
  <title>Red Panda(☞ﾟヮﾟ)☞ ☜(ﾟヮﾟ☜)</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Red Panda</h1>
    
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
       <center><p>
         In this case, Red Pandas are endangered due to deforestation (the act of destroying large amounts of trees). Their natural habitat is being demolished by people wishing to spread agriculture and people who fell trees for loggers. They are very shy 
        Red pandas are small mammals with long, fluffy tails and red and white markings. Though they share a name with the more famous giant panda, they are not closely related. In fact, the name 'panda' was first applied to these animals, and not to the larger black-and-white bear. 
         </p></center>
          <center><a href="http://www.livescience.com/57312-red-pandas.html" target="_blank">Learn More</a></center>
          <br>
          <center><img src="https://i.ytimg.com/vi/b6dT4kyVUuY/maxresdefault.jpg"></center>
          
       </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>