<html>
  <head>
  <title>Salamander ﴾͡๏̯͡๏﴿</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Salamanders</h1>
    
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
       <center><p>
         Salamanders are unique amphibians that can be recognized by their slick skin and long tails. These salamanders are endangered due to being run over and being picked up by children.
         Their skin is seriously injured by human hand oils, and can be killed from sunblock or insect sprays. 
         </p></center>
          <center><a href="https://www.savethesalamanders.com/how-you-can-help.html" target="_blank">Learn More</a></center>
          <center><img src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2FSpottedSalamander.jpg?1493478335809"></center>
          
       </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>