<html>
  <head>
  <title>Sea otters (─‿‿─)</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Sea Otters</h1>
    
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <center><p>
            Sea otters are the smallest marine creatures. They have the densest fur in all of the animal kingdom due to not having a layer of blubber to insulate them in the water.
            They are endangered, and their numbers are decreasing. Their numbers decreased dramatically during the 1900s because of the fur trade, but are still threatened from sea litter and hunting.
            </p></center>
          <br>
          <center><a href="http://www.defenders.org/sea-otter/how-you-can-help" target="_blank">Learn more</a></center>
          <br>
          <center><img src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fsea-otter.jpg?1494081537764" width="1000px"></center>
          
       </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>