<html>
  <head>
  <title>Girls Who Code ^-^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Sea Eagle</h1>
    <a href="http://bakedcorn.gomix.me">(it's lit fam)</a>
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      <ul>
        <li>Games
          <ul>
            <li><a href="/penguingame">Penguin Game</a></li>
            <li>
              <a href="http://www.brain-entertain.com/inner-animal-test/en/" target="_blank">Spirit Animal Quiz</a>
            </li>
           <li>
              <a href="https://www.buzzfeed.com/geico/what-animal-were-you-born-to-be?utm_term=.jf6z63lPva#.gyrJyP5do8" target="_blank">What is Your Inner Animal?</a>
            </li>
          </ul>
        </li>
        <li>
          How To Help
          <ul>
            <li>
              <a href="girls-who-code2016.glitch.me/how-to-help">Help everybody</a>
            </li>
          </ul>
        </li>
        <li>
          Articles
          <ul>
            <li>
              <a href="https://www.worldwildlife.org/species/directory?direction=desc&sort=extinction_status" target="_blank"> List of Endangered Species</a>
            </li>
          </ul>
        </li>
        <li><a class="bubbles_map" href="https://girls-who-code2016.glitch.me/map">Animal Map</a></li>
         <li>
          <a class="home" href="https://girls-who-code2016.gomix.me/"> Home </a>
        </li>
        </ul>
      </div>
        <div class="article">
          <p>
            Sea eagles are found in Russia, on the Sea of Okhotsk and the Bering Sea. They are also found on the Kamchatka Peninsula. 
            Sea eagles migrate to Japan and few reach Korea during the winter. A sea eagle's diet consists of salmon. 
            Sea eagle nests are located near coasts and rivers where there is an annual salmon run. When hunting prey, sea eagles hunt
            from a perch or from flight by diving and catching the prey in their talons. They also can stand in shallow water or on the ice and grab passing fish. 
            Sea eagles are steal food from other birds.Sea eagles were prized and hunted for their feathers. There are only 5000 more sea eagles left in the world.
          </p>
            <br>
          <center><img src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fseagle%20Cropped.jpg" alt= "Sea Eagle" width="400px" ></center>
       </div>
    </div>
  </body>
</html>