<html>
  <head>
  <title>Snow Leopard '~'</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Snow Leopard</h1>
    <a href="http://bakedcorn.gomix.me">(it's lit fam)</a>
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <p>
            4,500 to 7,500 snow leopards are living in the mountains of central Asia
Leopards have long been hunted for their soft fur—used to make coats and ceremonial robes—as well as for their claws, whiskers, and tails, 
When brought into close contact with human settlements, leopards may prey on livestock. Pastoralists will retaliate and kill leopards in retribution or will attempt to exterminate leopards in a move to prevent livestock killings.
Humans have pushed ever further with their livestock into the snow leopard's habitat. Overgrazing damages the fragile mountain grasslands, leaving less food for the wild sheep and goats that are the snow leopard's main prey.
The first reason is that the bones, skin and organs of large cats are valuable in traditional Asian medicine. 
When you consider that the people who live near snow leopards often earn less than 300 dollars per year and that a poacher can get perhaps $200 for a dead snow leopard (through a middleman can resell it for up to $10,000), it isn’t hard to understand why snow leopards are at risk.

          </p>
          <a href="http://www.nationalgeographic.com/animals/mammals/s/snow-leopard/" target="_blank">Learn more</a>
       </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>