<html>
  <head>
  <title>South China Tiger (づ￣ ³￣)づ</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>South China Tiger</h1>
    
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <center><p>
          The South China Tiger is native to South China. It has been declared critically endangered. It is possibly extinct in the wild because no single one has 
            been seen since the 1970’s. By the 1990’s survival for the species were not expected. The main reason their population numbers are going down are low prey density, 
            widespread habitat degradation, fragmentation, and other human pressures. Due to the vast grow of the human population, man-eating tiger attacks are now more common. 
            It is mostly because they start invading their lands and habitat. There was about 1000 attacks ending in death like this. In the early 1950’s there were reported to 
            be about 4,000 individuals in the wild. The effects of uncontrolled hunting, deforestation, reduction in available prey , and large-scale urban areas moving to 
            rural areas. 
            </p></center>
            <center><a href="http://www.tigers-world.com/south-china-tiger/" target="_blank">Learn More</a></center>
            <br>
            <center><img src="https://usercontent2.hubstatic.com/12064589.jpg"></center>

            
  </div>
  <p/>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>