<html>
  <head>
  <title>Girls Who Code ^-^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Spider Monkey</h1>
    
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
    
      </div>
      <div class="article">
        <p>
          Spider monkeys are Spider monkeys (of several species) live in the tropical rain forests of Central and South America and occur as far north as Mexico. 
          Habitat loss and hunting also slow reproductive rate makes them vulnerable, as a female spider monkey only has one baby every two to four years. Spider 
          Monkey's fur can be colors like black,brown, golden, red, or tan. Spider Monkies are endangered because their homes in tropical rainforests are constantly 
          being torn down leaving the monkies vulerable to other animals and more. Spider Monkey's use their senses to find the ripe fruits, and during the dry 
          seasons they eat leaves, seeds, and even insects. 
       

        </p>
     <center><a href="http://www.nationalgeographic.com/animals/mammals/group/spider-monkeys/" target="_blank">Learn more</a></center>
        <br>
      <center><img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Ateles_fusciceps_Colombia.JPG" width= "400px"></center> 
      
  </div>
  
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>