<html>
  <head>
  <title>Tapir (☞ຈل͜ຈ)☞</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>The Tapir</h1>
    
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
      </div>
        <div class="article">
          <center><p>
           The tapir is commonly commonly mixed up for a hippo, but its closest living relatives are horses and rhinos. They are very smart creatures, 
            and use their long nose to grab leaves and as a snorkel for wimming. They are endangered from hunting and habitat descruction.
             <center><a href="http://tapirs.org/tapirs/" target="_blank">Learn more</a> </center>
            <br>
          <center><img src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Ftapir--2.jpg?1493475223616"></center>
         
            </p></center>
       </div>
    </div>
  </body>
</html>