<html>
  <head>
  <title>Girls Who Code ^-^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Tasmanian Devil</h1>
    
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
         <h2>
           The Tasmanian Devil
          </h2>
          <p>
            Tasmanian devils are carnivorous animals that are found in Tasmania, Austrailia. They are the largest carnivorous marsupials in the world.
            Despite being hostile, they are constantly run over by cars, attacked by wild dogs and animals, killed by serious diseases, and hunted for their fur and meat.
          </p>
          <img src="https://cdn.glitch.com/c07b9b8f-8626-418a-962d-28e315af49db%2Ftasmanian-devil.jpg?1492874791608" alt= "Tasmanian Devil" >
          <br>
           <a href="http://www.tassiedevil.com.au/tasdevil.nsf/How-you-can-help/85007C2726F401E6CA2576F0001E8998" target="_blank">Learn More</a>
       </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>