<html>
  <head>
  <title>Girls Who Code ^-^</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>White Orca</h1>
    
    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <p>
          <h2>
            White Orca
          </h2> 
          The White Orca or also known as the killer whale there are about 50,000 killer whales left in the ocean since 2014.
          A key reason their numbers are so low is because their main prey is going extinct.
          Killer whales may not also be able to detect oil due to poor olfaction.They also have been losing their habitat. 
          The last reason is because they are being held captive. At least 163 have died in captivity. They mostly live in the Northeastern pacific ocean.
          <br>
          <br>
            <img src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fmigaloo-white-whale-4%20Cropped.jpg" alt= "White Orca" width="400px" >
          </p>
  <a href="http://us.whales.org/species-guide/orca-killer-whale" target="_blank">Learn more</a>
       </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>