<html>
  <head>
  <title>Yellow tailed wolly monkey \ (•◡•) /</title>
  <link href="style.css" rel="stylesheet">
  
  <!--Links to fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  
</head>
<body>
  
<div id="main">
  <h1>Yellow Tailed Wooly Monkey</h1>

    <!--don't delete the (it's lit fam) please or else -->
    <!--Also, this snake is lit fam yaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssss--> 
    <div id="nav">
      
      </div>
        <div class="article">
          <center><p>
            The yellow  tailed wooly monkey are one of the least known and rarest primate species.They are regularly found in the tropical andes. First 
            discovered by scientists at the beginning of the nineteenth century, this distinct species of woolly monkey was thought to be extinct
            until its rediscovery in 1974. Due to polution and the destruction of their homes there are only about 250 surviving yellow tailed wooly
            monkeys left. 
            </p></center>
          
    
          
          <center><a href="http://www.edgeofexistence.org/mammals/species_info.php?id=79" target="_blank">Learn more</a></center>
          <br>
          <center><img src="http://pin.primate.wisc.edu/fs/sheets/images/721lg.jpg" alt= "Yellow tailed wooly monkey" width="400px" ></center>
       </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.gomix.com/c07b9b8f-8626-418a-962d-28e315af49db%2Fjquery.cycle2.min.js"></script>
<script src="/client.js"></script>
  </body>
</html>