
body{
  background-color: white;
}


*{
  font-family:"raleway", sans-serif;
}
h1{
  font-family:"raleway", sans-serif;
  text-align:center;
  background-color: rgb(181,232,223);
  border: rgb(181,232,223) 5px outset;
}

.logo {
  margin: 50px auto;
  width: 485px;
}


.map img {
  border: 3px solid #fff;
  transition: transform 500ms;
}

.map img:hover {
  transform:scale(2);
  z-index:999;
}

.bubbles_map:hover {
  color:white
}

#main{
  max-width:1000px;
  margin:auto;
}

#nav{
  background:rgb(181,232,223);
  border: rgb(181,232,223) 3px outset;
}

#body{
  background: #004d99;
  background-color: aqua;
}

#lit{
  color:white;
  text-align:center;
}

.pictures{
  margin: auto;
  width:450px;
  height:450px;
  max-width:100%;
}

.picture{
  display:block;
  margin: auto;
  width:100%;
  text-align:center;
  padding-top:20px;
}




#nav ul{
  margin:0;
  padding:0;
  display:flex;
  justify-content:space-around;
  text-align:center;
  z-index:999;
}

#nav li{
  padding:20px;
  list-style-type:none;
  color:#000000;
  margin: middle;

  
  font-family:'Raleway', sans-serif;
}
  
#nav ul ul{
  display:none;
  border: rgb(181,232,223) 5px groove;
}

#nav ul li:hover ul{
  display:block; 
  position:absolute;
  background-color:rgb(181,232,223);  /*If you want to change back....#abaeb2*/
  font-family: 'Raleway', sans-serif;
}

#nav li li{
  padding:5px;
}




.people {
  width:700px;
  margin:auto;
  text-align:center;
}

.name {
  text-align:center;
}

.sarah {
  background-color:#ffce00;
  border:5px double black;
}

.katie {
  background-color:#66ff66;
  border:5px double black;
}

.janie {
  background-color:#cc00cc;
  border:5px double black;
}

.jocelyn {
  background-color:#0099cc;
  border:5px double black;
}

.eileen {
  background-color:#5200cc;
  border:5px double black;
}
.rebecca {
  background-color:aqua;
  border:5px double black;
}

.rishika {
  background-color:#ff5050;
  border:5px double black;
}

.allison {
  background-color:#cc00ff;
  border:5px double black;
}

.jolene {
  background-color:turquoise;
  border:5px double black;
}

.despina {
  background-color:#E8ADAA;
  border:5px double black;
}

.zephyr{
  background-color: #8B008B;
  border:5px double black;
}

.arpi{
  background-color: indigo;
  border:5px double black;
}
/*http://www.w3schools.com/colors/colors_picker.asp?colorhex=40E0D0*/
/*this is a website where you can choose any color you want and change it's shade and it will give you the color in rbg*/

.mexican-wolf {
  text-align:center;
}

#nav a {
  text-decoration:none;
  color:black;
}

#nav a:hover {
  color:white
}


.bakedcorn{
  text-decoration:none;
  color:white
}

.bakedcorn:hover{
  color:orange;
  font-size:30;
}

.puns{
  text-decoration:none;
  font-size:10;
  color:black;
}

.puns:hover{
  color:orange;
    font-size:20;
}